<div class="flex" style="padding: 0.45rem">
    <div class="flex">
        <a
            href="/dashboard"
            style="
                display: inline-flex;
                align-items: center;
                gap: 4px;
                text-decoration: none;
            "
            ><button class="regular_button">← Dashboard</button></a
        >

        <div id="editor_buttons_root"></div>
    </div>
    <div class="flex button-group center mw8" id="button-container">
        <span class="button-selection"></span>
    </div>
    <div class="flex">
        <div>
            <input type="checkbox" id="checkboxLivePreview" checked />
            <label for="checkboxLivePreview" class="switchButton">
                Live Preview
            </label>
        </div>
        <div>
            <button id="compile" class="regular_button dn hidden">
                Compile
            </button>
        </div>
    </div>
</div>
